/* You can add global styles to this file, and also import other style files */
.body {
  display: flex;
  justify-content: center;
  font-family: 'Muller';
}
/* .wrapper {
  max-width: 1200px;
} */
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  color: #b39471;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #3b2c15;
  cursor: pointer;
}

@media (max-width: 800px) {
}
@media (max-width: 600px) {
}

@font-face {
  font-family: 'Prata';
  src: url('./assets/fonts/Prata/Prata-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
