img {
  object-fit: cover;
}

.container {
  /* width: 100%; */
  height: 100%;
  font-family: Muller, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 100px;
  display: flex;
  /* height: 100%; */
  justify-content: space-between;
  box-sizing: border-box;
}
.container > .firstBlock {
  margin-top: 100px;
  display: flex;
}

.container > .firstBlock > .inform {
  margin-right: 60px;
}

.container > .firstBlock > .inform > .header1 {
  font-size: 38px;
  line-height: 55px;
  font-weight: 800;
  color: #b99150;
  width: 625px;
}
.container > .firstBlock > .inform > .header2 {
  color: #ffc468;
  font-size: 38px;
  line-height: 55px;
  font-weight: 800;
  margin-bottom: 60px;
}

.container > .firstBlock > .inform > .row {
  display: flex;

  margin-bottom: 40px;
}

.container > .firstBlock > .inform > .row > .inf {
  display: flex;
  width: 50%;
  margin-right: 40px;
}

.container > .firstBlock > .inform > .row > .inf > img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.container > .firstBlock > .inform > .row > .inf > div > .header {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #ffaf18;
}

.container > .firstBlock > .inform > .row > .inf > div > .text {
  font-family: Arial;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b99150;
  width: 224px;
}

.container > .firstBlock > .image {
  margin-top: 60px;
}

button {
  background-color: #fdb115;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-firstBlock {
  width: 224px;
  height: 60px;
}

.secondBlock {
  margin-top: 160px;
}

.secondBlock > .header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 55px;
  font-weight: 700;
  color: #bd985c;
  text-align: center;
  margin-bottom: 60px;
}

.secondBlock > .containerForCard {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 355px 355px;
  grid-row-gap: 50px;
}

.thirdScreen {
  display: flex;
  margin-top: 200px;
}

.thirdScreen > .inform {
  width: 37%;
  margin-right: 100px;
}

.thirdScreen > .inform > .header {
  font-size: 32px;
  font-weight: bold;
}

.thirdScreen > .inform > .header > .r1 {
  font-family: Arial;
  font-size: 35px;
  line-height: 45px;
  font-weight: 800;
  color: #ffaf18;
}
.thirdScreen > .inform > .header > .r2 {
  font-family: Arial;
  font-size: 35px;
  line-height: 45px;
  font-weight: 800;
  color: #bd985c;
}

.thirdScreen > .inform > .text {
  margin-top: 50px;
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #b99150;
  width: 375px;
}

.thirdScreen > .form {
  margin-top: 65px;
}

.thirdScreen > .form > form > div {
  margin-bottom: 15px;
}

.thirdScreen > .form > form > button {
  width: 330px;
  height: 60px;
  border: 1px solid #fdb115;
  color: black;
}

input {
  box-sizing: border-box;
  width: 330px;
  height: 60px;
  border: 1px solid #b99150;
  padding-left: 20px;
  /* border-color: #bd8f4e; */
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

input::placeholder {
  color: #a2947a;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .container {
    background-color: aqua;
  }
  .image {
    display: none;
  }
  .firstBlock {
    justify-content: center;
  }

  .header1,
  .header2 {
    text-align: center;
    font-size: 30px !important;
  }

  .btn-firstBlock {
    width: 50%;
    margin: auto;
  }
  .row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px !important;
  }
  .row > .inf {
    margin-bottom: 10px;
  }
}
